LIBRARY_ID           = your_zotero_library_id   # Zotero user or group ID (e.g, 09143178235)
LIBRARY_TYPE         = user                     # or "group"
ZOTERO_KEY           = your_zotero_api_key      # Zotero API key
ZOTERO_STORAGE_PATH  = '/path/to/zotero/storage'
DEST_FOLDER          = '/path/to/export/folder'