LIBRARY_ID = #I got it from internet
LIBRARY_TYPE = user
ZOTERO_KEY = #I got it from internet

ZOTERO_STORAGE_PATH = # Example 'C:\Users\USER\Zotero\storage'
DEST_FOLDER = #Example 'C:\Users\USER\OneDrive\ZoteroAttachments'